<template>
  <q-dialog
    v-model="dialog"
    persistent
    maximized
    transition-show="slide-left"
    transition-hide="slide-right"
    class="custom-font"
  >
    <crear-editar-item :modalidad_id="form.modalidad_id" />
    <detalle-item :modalidad_id="form.modalidad_id"/>
    <snap-photo />
    <q-card
      style="width: 100%"
      flat
    >
      <q-form @submit="guardarSolicitud()" enctype="multipart/form-data">
        <q-card-section class="text-center">
          <div class="row">
            <div class="col-xs-2">
              <q-btn round color="blue-grey" icon="arrow_back_ios" flat @click="closeDialog()" />
            </div>
            <div class="col-xs-8">
              <span class="text-h6 text-bold">{{form.id ? 'Modificar Solicitud' : 'Nueva solicitud'}}</span>
            </div>
            <div class="col-xs-2">
              <q-btn flat color="blue-grey" icon="paid">
                <q-menu>
                  <q-list style="min-width: 200px" class="text-center custom-font">
                    <q-item v-close-popup class="bg-blue-grey text-white">
                      <q-item-section>
                        <strong>INFORMACIÓN</strong>
                      </q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item v-close-popup>
                      <q-item-section>
                        <strong>GESTIÓN: {{gestion.gestion}}</strong>
                      </q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item v-close-popup>
                      <q-item-section>
                        <strong>CAMBIO: $us {{tipo_cambio.dolar.cambio}}</strong>
                      </q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item v-close-popup>
                      <q-item-section>
                        <strong>CAMBIO: € {{tipo_cambio.euro.cambio}}</strong>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </div>
        </q-card-section>

        <q-separator></q-separator>

        <q-card-section>
          <div class="row">
            <div class="col-xs-12 q-pa-sm">
              <strong>Información de la solicitud</strong>
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-select
                v-model="form.proyecto_id"
                :options="proyectos"
                label="Proyecto"
                option-label="nombre"
                option-value="id"
                emit-value
                map-options
                :rules="[v => !!v || 'Requerido']"
                @update:model-value="getProyectoFondoRotativo()"
              ></q-select>
            </div>
            <div class="col-xs-6 q-px-sm">
              <q-input v-model="form.fecha" label="Fecha límite" :rules="[v => !!v || 'Requerido', v => vmoment(v, 'DD/MM/YYYY').isSameOrAfter(vmoment(), 'day') || 'La fecha debe ser mayor o igual a la actual']" readonly>
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                      <q-date v-model="form.fecha" mask="DD/MM/YYYY" color="blue-grey">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Aceptar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-6 q-px-sm">
              <q-select
                v-model="form.moneda_id"
                :options="monedas"
                :option-label="val => `${val.nombre} (${val.sigla})`"
                option-value="id"
                label="Moneda"
                emit-value
                map-options
                :rules="[v => !!v || 'Requerido']"
              ></q-select>
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-select
                v-model="form.modalidad_id"
                :options="modalidades"
                label="Modalidad"
                option-label="nombre"
                option-value="id"
                emit-value
                map-options
                :rules="[v => !!v || 'Requerido']"
                @update:model-value="getProyectoFondoRotativo()"
                :disable="items.length > 0"
              ></q-select>
            </div>
            <div class="col-xs-12 q-pa-sm" v-if="form.modalidad_id == 3">
              <q-select
                v-model="form.fondo_id"
                :options="fondos"
                label="Fondo"
                option-label="nombre"
                option-value="id"
                emit-value
                map-options
                :rules="[v => fondos.length !== 0 || 'SIN FONDOS ROTATIVOS - CAJAS CHICAS', v => !!v || 'Requerido']"
              ></q-select>
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-input
                v-model="form.desembolso"
                label="Desembolso a:"
                class="iu"
                :rules="[v => !!v || 'Requerido']"
              ></q-input>
            </div>
            <div class="col-xs-10 q-pa-sm">
              <q-file
                v-model="documentos_adjuntos"
                label="Documentos adjuntos"
                use-chips
                multiple
                append
              />
            </div>
            <div class="col-xs-2 q-pa-sm">
              <q-btn
                color="pink-8"
                round
                icon="add_a_photo"
                @click="capturarImagen()"
              ></q-btn>
            </div>
            <div class="col-xs-12 q-pa-sm" v-if="form.id && current_documents.length > 0">
              <q-list bordered separator>
                <q-slide-item
                  @left="opt => onLeftDocument(documento, opt)"
                  @right="opt => onRightDocument(index, documento.id, opt)"
                  right-color="negative"
                  left-color="positive"
                  v-for="(documento, index) in current_documents"
                  :key="documento.id" 
                >
                  <template v-slot:left>
                    <q-icon name="visibility" />
                  </template>
                  <template v-slot:right>
                    <q-icon name="delete" />
                  </template>
                  <q-item
                    clickable
                    v-ripple
                  >
                    <q-item-section
                      avatar
                    >
                      <q-icon color="blue-grey" name="attach_file" />
                    </q-item-section>

                    <q-item-section>
                      <q-item-label style="word-break: break-all">{{documento.direccion}}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-slide-item>
              </q-list>
            </div>
            <div class="col-xs-12 q-pa-sm">
              <div class="row">
                <div class="col-xs-6 q-gutter-xs">
                  <strong>Items para solicitud</strong>
                  <q-btn
                    size="sm"
                    color="blue-grey"
                    icon="add"
                    round
                    class="glossy"
                    @click="crearItemSolicitud({})"
                    :disabled="form.modalidad_id == null"
                  ></q-btn>
                </div>
                <div class="col-xs-6 text-right">
                  <strong>Total: {{util.numberMoney(total)}}</strong>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <q-list bordered separator>

                <q-slide-item
                  @left="opt => onLeft(item, index, opt)"
                  @right="opt => onRight(index, opt)"
                  @click="verDetalleItem(item)"
                  right-color="negative"
                  left-color="warning"
                  v-for="(item, index) in items"
                  :key="item.detalle"
                >
                  <template v-slot:left>
                    <q-icon name="edit" />
                  </template>
                  <template v-slot:right>
                    <q-icon name="delete" />
                  </template>

                  <q-item class="text-uppercase">
                    <q-item-section>
                      <q-item-label>{{item.detalle}}</q-item-label>
                      <q-item-label caption>Cant.: {{~~item.cantidad}}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-badge color="blue-grey" :label="`P/U: ${item.precio_unitario}`" />
                      <q-item-label class="text-right text-caption q-pt-lg text-bold">Subtotal: {{util.numberMoney(item.sub_total)}}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-slide-item>

              </q-list>
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-input
                v-model="form.referencia"
                label="Referencia"
                class="tu"
                autogrow
                :rules="[v => !!v || 'Requerido']"
              />
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-input
                v-model="form.justificacion"
                label="Justificación"
                class="tu"
                autogrow
                :rules="[v => !!v || 'Requerido']"
              />
            </div>
            <div class="col-xs-12 q-pa-sm items-center text-center">
              <q-checkbox v-model="sendEmail" label="¿Envíar solicitud a correo?" />
            </div>
            <div class="col-xs-12 q-pa-sm" v-if="sendEmail">
              <q-input
                v-model="form.correo"
                label="Ingrese correo"
                autogrow
                :rules="[v => !!v || 'Requerido']"
              />
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-btn
                type="submit"
                class="full-width"
                label="Registrar solicitud"
                color="positive"
                icon="save"
                :loading="loading"
                v-if="!form.id"
              ></q-btn>
              <q-btn
                type="submit"
                class="full-width"
                label="Guardar cambios"
                color="positive"
                icon="save"
                :loading="loading"
                v-if="form.id"
              ></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-form>
      
    </q-card>

    <!-- Dialog de eliminación de documento -->
    <q-dialog
      v-model="eliminaDocumento"
    >
      <q-card>
        <q-card-section class="q-pa-none">
          <q-toolbar class="bg-blue-grey text-white">
            <span>Eliminar documento</span>
            <q-space></q-space>
            <q-btn icon="clear" flat @click="eliminaDocumento = false"></q-btn>
          </q-toolbar>
        </q-card-section>
        <q-card-section>
          ¿Está seguro de elimnar este documento?, esta acción es irreversible
        </q-card-section>
        <q-card-section>
          <div class="row">
            <div class="col-xs-6">
              <q-btn
                icon="clear"
                color="negative"
                label="Cancelar"
                flat
              ></q-btn>
            </div>
            <div class="col-xs-6">
              <q-btn
                label="Eliminar"
                icon="check"
                color="positive"
                flat
                @click="eliminarDocumento()"
                :loading="loading"
              ></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-dialog>
</template>

<script>
import { inject, ref } from 'vue'
import { useQuasar } from 'quasar'
import axios from 'axios'
import CrearEditarItem from './CrearEditarItem.vue'
import DetalleItem from './DetalleItem.vue'
import { useStore } from 'vuex'
import {useRouter} from 'vue-router'
import moment from 'moment'
import util from '../../../plugins/util'
import SnapPhoto from '../../../components/SnapPhoto.vue'
import env from '../../../../config/env'

export default {
  components: { CrearEditarItem, DetalleItem, SnapPhoto },
  setup () {
    // Variables reactivas y no reactivas
    const $q = useQuasar()
    const bus = inject('bus')
    const store = useStore()
    const router = useRouter()
    const vmoment = moment

    const dialog = ref(false)
    const eliminaDocumento = ref(false)
    const form = ref({
      proyecto_id: null,
      fecha: null,
      moneda_id: null,
      modalidad_id: null,
      fondo_id: null,
      referencia: null,
      justificacion: null
    })
    const proyectos = ref([])
    const monedas = ref([])
    const modalidades = ref([])
    const fondos = ref([])
    const documentos_adjuntos = ref([])
    const current_documents = ref([])
    const flagDeleteDocument = ref({})

    const tipo_cambio = ref({})
    const gestion = ref({})
    const items = ref([])
    const total = ref(0)
    const loading = ref(false)
    const sendEmail = ref(false)

    // Métodos y funciones
    const getSolicitudCreate = async () => {
      const empresa = $q.localStorage.getItem('empresa')
      gestion.value = $q.localStorage.getItem('gestion')
      let res = await axios.get(`solicitud/create/${empresa.id}`)
      monedas.value = res.data.monedas
      modalidades.value = res.data.modalidades
      proyectos.value = res.data.proyectos
      tipo_cambio.value = {
        dolar: res.data.tipo_cambio,
        euro: res.data.tipo_cambio_euro
      }
    }

    const getProyectoFondoRotativo = async () => {
      if (form.value.modalidad_id == 3 && form.value.proyecto_id !== null) {
        let res = await axios.get(`/json/proyecto/fr/${form.value.proyecto_id}`)
        fondos.value = res.data
      }
    }

    const getMonedaId = async (moneda) => {
      const result = await monedas.value.filter(function(e){return e.nombre == moneda})
      return result[0].id
    }

    const eliminarDocumento = async () => {
      try {
        const gestion_dir = $q.localStorage.getItem('gestion')
        loading.value = true
        await axios.get(`json/documento/eliminar/${flagDeleteDocument.value.id}/${gestion_dir.gestion}`)
        current_documents.value.splice(flagDeleteDocument.value.index, 1)
        loading.value = false
        $q.notify({
          message: 'Documento eliminado',
          position: 'center',
          color: 'blue-grey',
          icon: 'check'
        })
        eliminaDocumento.value = false
      } catch (error) {
        return console.log(error)
      }
    }

    const closeDialog = () => {
      form.value = {}
      documentos_adjuntos.value = []
      items.value = []
      total.value = 0
      loading.value = false
      dialog.value = false
    }

    const crearItemSolicitud = (item) => {
      item.edit = false
      bus.emit('openDialogCrearItemSujetoGasto', item)
    }

    const editarItemSolicitud = (item) => {
      item.edit = true
      bus.emit('openDialogCrearItemSujetoGasto', item)
    }

    const verDetalleItem = (item) => {
      bus.emit('openDialogDetalleItem', item)
    }

    const sumarTotalItems = () => {
      let suma = 0
      items.value.forEach(item => {
        suma += item.sub_total
      })
      total.value = suma
    }

    const capturarImagen = () => {
      bus.emit('openDialogSnapPhoto')
    }

    // Función para guardar o editar la solicitud
    const guardarSolicitud = async () => {
      if (items.value.length == 0) {
        return $q.notify({
          message: 'Debe registrar por lo menos un ítem',
          color: 'negative'
        })
      }
      if (form.value.id) {
        // Edición de la solicitud
        try {
          loading.value = true
          let cambio_id
          if (form.value.moneda_id == 1) {
            cambio_id = 3
          }
          if (form.value.moneda_id == 2) {
            cambio_id = 1
          }
          if (form.value.moneda_id == 3) {
            cambio_id = 2
          }
          const empresa = $q.localStorage.getItem('empresa')
          const gestion = $q.localStorage.getItem('gestion')
          const formData = new FormData()
          formData.append('_method', 'PUT')
          formData.append('proyecto', form.value.proyecto_id)
          formData.append('fecha_lim', moment(form.value.fecha, 'DD/MM/YYYY').format('YYYY-MM-DD'))
          formData.append('usuario', store.state.auth.user.nombre)
          formData.append('moneda', form.value.moneda_id)
          formData.append('modalidad', form.value.modalidad_id)
          formData.append('empresa_fr', form.value.fondo_id)
          formData.append('desembolso', form.value.desembolso)
          formData.append('cambio_id', cambio_id)

          // Procesamiento de ítems para la petición
          let cantidad = [], unidad = [], tipo_compra = [], detalle = [], nrofactura = [], fechafactura = [], itemproyecto = [], itemproveedor = [], itemtipo = [], punitario = [], subtotal = []
          items.value.forEach(item => {
            cantidad.push(item.cantidad)
            unidad.push(item.unidad.id)
            tipo_compra.push(item.tipo_compra.id)
            detalle.push(item.detalle)
            nrofactura.push(item.nrofactura)
            if (item.fechafactura !== '') {
              fechafactura.push(moment(item.fechafactura, 'DD/MM/YYYY').format('YYYY-MM-DD'))
            } else {
              fechafactura.push(item.fechafactura)
            }
            itemproyecto.push(item.itemproyecto)
            itemproveedor.push(item.itemproveedor)
            itemtipo.push(item.itemtipo)
            punitario.push(item.precio_unitario)
            subtotal.push(item.sub_total)
          })
          formData.append('cantidad', cantidad)
          formData.append('unidad', unidad)
          formData.append('tipo_compra', tipo_compra)
          formData.append('detalle', detalle)
          formData.append('nrofactura', nrofactura)
          formData.append('fechafactura', fechafactura)
          formData.append('itemproyecto', itemproyecto)
          formData.append('itemproveedor', itemproveedor)
          formData.append('itemtipo', itemtipo)
          formData.append('punitario', punitario)
          formData.append('subtotal', subtotal)
          formData.append('referencia', form.value.referencia)
          formData.append('observacion', form.value.justificacion)
          formData.append('gestion', gestion.gestion)
          formData.append('gestion_id', gestion.id)
          formData.append('empresa_nombre', empresa.nombre)
          formData.append('empresa_slug', empresa.slug)
          formData.append('empresa_id', empresa.id)

          // Procesamiento de archivos para la petición
          let count = 1
          documentos_adjuntos.value.forEach(item => {
            count++
            formData.append(`doc${count}`, item)
          })
          if ($q.platform.is.platform === 'android') {
            formData.append('platform', 'A')
          } else if ($q.platform.is.platform === 'iphone') {
            formData.append('platform', 'I')
          } else {
            formData.append('platform', 'W')
          }
          let res = await axios.post(`solicitud/${form.value.id}`, formData)
          $q.notify({
            message: res.data.message,
            color: 'positive',
          })
          router.push({ path: '/solicitudes' })
          loading.value = false
          bus.emit('closeDialogModificarSolicitud')
          closeDialog()
        } catch (error) {
          loading.value =  false
          console.log(error)
        }
      } else {
        // Creación de una nueva solicitud
        try {
          loading.value = true
          let cambio_id
          if (form.value.moneda_id == 1) {
            cambio_id = 3
          }
          if (form.value.moneda_id == 2) {
            cambio_id = 1
          }
          if (form.value.moneda_id == 3) {
            cambio_id = 2
          }
          const empresa = $q.localStorage.getItem('empresa')
          const gestion = $q.localStorage.getItem('gestion')
          const formData = new FormData()
          formData.append('proyecto', form.value.proyecto_id)
          formData.append('fecha_lim', moment(form.value.fecha, 'DD/MM/YYYY').format('YYYY-MM-DD'))
          formData.append('usuario', store.state.auth.user.nombre)
          formData.append('moneda', form.value.moneda_id)
          formData.append('modalidad', form.value.modalidad_id)
          formData.append('empresa_fr', form.value.fondo_id)
          formData.append('desembolso', form.value.desembolso)
          formData.append('cambio_id', cambio_id)

          // Procesamiento de ítems para la petición
          let cantidad = [], unidad = [], tipo_compra = [], detalle = [], nrofactura = [], fechafactura = [], itemproyecto = [], itemproveedor = [], itemtipo = [], punitario = [], subtotal = []
          items.value.forEach(item => {
            cantidad.push(item.cantidad)
            unidad.push(item.unidad.id)
            tipo_compra.push(item.tipo_compra.id)
            detalle.push(item.detalle)
            nrofactura.push(item.nrofactura)
            if (item.fechafactura !== '') {
              fechafactura.push(moment(item.fechafactura, 'DD/MM/YYYY').format('YYYY-MM-DD'))
            } else {
              fechafactura.push(item.fechafactura)
            }
            itemproyecto.push(item.itemproyecto)
            itemproveedor.push(item.itemproveedor)
            itemtipo.push(item.itemtipo)
            punitario.push(item.precio_unitario)
            subtotal.push(item.sub_total)
          })
          formData.append('cantidad', cantidad)
          formData.append('unidad', unidad)
          formData.append('tipo_compra', tipo_compra)
          formData.append('detalle', detalle)
          formData.append('nrofactura', nrofactura)
          formData.append('fechafactura', fechafactura)
          formData.append('itemproyecto', itemproyecto)
          formData.append('itemproveedor', itemproveedor)
          formData.append('itemtipo', itemtipo)
          formData.append('punitario', punitario)
          formData.append('subtotal', subtotal)
          formData.append('referencia', form.value.referencia)
          formData.append('observacion', form.value.justificacion)
          formData.append('gestion', gestion.gestion)
          formData.append('gestion_id', gestion.id)
          formData.append('empresa_nombre', empresa.nombre)
          formData.append('empresa_slug', empresa.slug)

          // Procesamiento de archivos para la petición
          let count = 1
          documentos_adjuntos.value.forEach(item => {
            count++
            formData.append(`doc${count}`, item)
          })
          if ($q.platform.is.platform === 'android') {
            formData.append('platform', 'A')
          } else if ($q.platform.is.platform === 'iphone') {
            formData.append('platform', 'I')
          } else {
            formData.append('platform', 'W')
          }
          let res = await axios.post('solicitud', formData)
          $q.notify({
            message: res.data.message,
            color: 'positive',
          })
          bus.emit('closeDialogCrearSolicitud')
          loading.value = false
          closeDialog()
        } catch (error) {
          console.log(error)
          loading.value =  false
        }
      }
    }

    // Funciones Slide del objeto ítem
    const onLeft = (item, index, {reset}) => {
      items.value.splice(index, 1)
      editarItemSolicitud(item)
      reset()
    }

    const onRight = (index, {reset}) => {
      const aux_items = []
      items.value.forEach(item => {
        aux_items.push(item)
      })
      items.value.splice(index, 1)
      $q.notify({
        message: 'Item eliminado',
        color: 'negative',
        position: 'bottom',
        actions: [
          {
            label: 'Deshacer',
            color: 'white',
            handler: () => {
              items.value = aux_items
              sumarTotalItems()
            }
          }
        ],
        timeout: 4000
      })
      sumarTotalItems()
      reset()
    }

    // Funciones Slide del objeto documento
    const onLeftDocument = (documento, {reset}) => {
      verDocumento(documento)
      reset()
    }

    const onRightDocument = (index, documento_id, {reset}) => {
      flagDeleteDocument.value = {index, id: documento_id}
      eliminaDocumento.value = true
      reset()
    }

    const verDocumento = (documento) => {
      let url_file = `${env.SERVER_URL}empresas/${documento.empresa_slug}/${documento.gestion}/solicitud/${documento.direccion}`
      bus.emit('openDialogViewFile', url_file)
    }

    // Eventos de creación de componente
    getSolicitudCreate()
    // Evento del padre para apertura de ventana
    bus.on('openDialogCrearSolicitud', () => {
      dialog.value = true
    })
    // Evento de agregación de nuevo Item
    bus.on('agregarItem', (item) => {
      items.value.push(item)
      sumarTotalItems()
    })
    // Evento para editar solicitud
    bus.on('openDialogModificarSolicitud', async (item) => {
      // Igualación de datos del formulario principal
      let temp_item
      let data = {
        id: item.id,
        proyecto_id: item.proyecto_id,
        fecha: moment(item.fecha_limite, 'YYYY-MM-DD').format('DD/MM/YYYY'),
        moneda_id: await getMonedaId(item.moneda),
        modalidad_id: item.modalidad_id,
        desembolso: item.desembolso,
        referencia: item.referencia,
        justificacion: item.observacion
      }
      if (item.modalidad_id == 3 || item.modalidad_id == 4) {
        item.items_rendidos.forEach(elem => {
          temp_item = {
            cantidad: elem.cantidad,
            unidad: elem.unidad,
            tipo_compra: elem.tipo_compra,
            detalle: elem.detalle,
            nrofactura: elem.num_factura,
            fechafactura: moment(elem.fecha_factura, 'YYYY-MM-DD').format('DD/MM/YYYY'),
            itemproyecto: elem.proyecto,
            itemproveedor: elem.proveedor,
            itemtipo: elem.tipo,
            precio_unitario: elem.costo,
            sub_total: elem.subtotal
          }
          items.value.push(temp_item)
        })
      } else {
        item.items.forEach(elem => {
          temp_item = {
            cantidad: elem.cantidad,
            unidad: elem.unidad,
            tipo_compra: elem.tipo_compra,
            detalle: elem.detalle,
            precio_unitario: elem.costo,
            sub_total: elem.subtotal
          }
          items.value.push(temp_item)
        })
      }
      sumarTotalItems()
      current_documents.value = item.documentos
      if (data.modalidad_id == 3) {
        data = {
          ...data,
          fondo_id: item.fondo_id
        }
      }
      form.value = data
      getProyectoFondoRotativo()
      dialog.value = true
    })

    // Inserción de archivo obtenido por la cámara del dispositivo
    bus.on('closeDialogSnapPhoto', (image) => {
      var file = new File([image], `${Math.floor(Math.random() * 10000)}.jpg`)
      documentos_adjuntos.value.push(file)
    })

    // Variables reactivas compartidas con la plantilla
    return {
      dialog,
      form,
      proyectos,
      monedas,
      modalidades,
      fondos,
      closeDialog,
      documentos_adjuntos,
      gestion,
      tipo_cambio,
      total,
      crearItemSolicitud,
      items,
      getProyectoFondoRotativo,
      onLeft,
      onRight,
      onLeftDocument,
      onRightDocument,
      guardarSolicitud,
      loading,
      verDetalleItem,
      sendEmail,
      current_documents,
      eliminaDocumento,
      eliminarDocumento,
      flagDeleteDocument,
      util,
      vmoment,
      capturarImagen,
      verDocumento
    }
  }
}
</script>

<style>

</style>