<template>
  <q-dialog
    v-model="dialog"
    persistent
    style="max-width: 600px"
    class="custom-font"
  >
    <q-card>
      <q-card-section class="q-pa-none">
        <q-toolbar class="bg-blue-grey text-white">
          <strong>
            <span>Detalle del ítem</span>
          </strong>
          <q-space></q-space>
          <q-btn
            flat
            icon="clear"
            @click="closeDialog()"
          ></q-btn>
        </q-toolbar>
      </q-card-section>
      <q-card-section>
        <div class="row">
          <div class="col-xs-4">
            <p><strong>Cantidad: </strong><span class="text-blue-grey">{{~~item.cantidad}}</span></p>
          </div>
          <div class="col-xs-8">
            <p><strong>Unidad: </strong><span class="text-blue-grey">{{item.unidad.descripcion}}</span></p>
          </div>
          <div class="col-xs-12">
            <p><strong>Tipo de compra: </strong><span class="text-blue-grey">{{item.tipo_compra.descripcion}}</span></p>
          </div>
          <div class="col-xs-12">
            <p><strong>Detalle: </strong><span class="text-blue-grey">{{item.detalle}}</span></p>
          </div>
          <!-- Caso de reposición y fondo rotativo  -->
          <div class="col-xs-12" v-if="props.modalidad_id == 3 || props.modalidad_id == 4">
            <p><strong>Nro. Factura / Recibo: </strong><span class="text-blue-grey">{{item.num_factura}}</span></p>
          </div>
          <div class="col-xs-12" v-if="props.modalidad_id == 3 || props.modalidad_id == 4">
            <p><strong>Fecha Factura / Recibo: </strong><span class="text-blue-grey">{{vmoment(item.fecha_factura, 'YYYY-MM-DD').format('DD/MM/YYYY')}}</span></p>
          </div>
          <div class="col-xs-12" v-if="props.modalidad_id == 3 || props.modalidad_id == 4">
            <p><strong>Proyecto: </strong><span class="text-blue-grey text-uppercase">{{item.proyecto}}</span></p>
          </div>
          <div class="col-xs-12" v-if="props.modalidad_id == 3 || props.modalidad_id == 4">
            <p><strong>Proveedor: </strong><span class="text-blue-grey text-uppercase">{{item.proveedor}}</span></p>
          </div>
          <div class="col-xs-12" v-if="props.modalidad_id == 3 || props.modalidad_id == 4">
            <p><strong>Tipo: </strong><span class="text-blue-grey">{{item.tipo}}</span></p>
          </div>
          <!-- Fin del caso fondo rotativo y reposición -->
          <div class="col-xs-12">
            <p><strong>Precio unitario: </strong><span class="text-blue-grey">{{util.numberMoney(item.costo)}}</span></p>
          </div>
          <div class="col-xs-12">
            <p><strong>Subtotal: </strong><span class="text-blue-grey">{{util.numberMoney(item.subtotal)}}</span></p>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import {inject, ref} from 'vue'
import moment from 'moment'
import util from '../../../plugins/util'

export default {
  props: ['modalidad_id'],
  setup (props) {
    // Variables reactivas y no reactivas
    const bus = inject('bus')
    const vmoment = moment

    const dialog = ref(false)
    const item = ref({
      cantidad: null,
      unidad: {
        nombre: ''
      },
      tipo_compra: {
        descripcion: ''
      },
      detalle: null,
      precio_unitario: null,
      sub_total: 0,
    })

    // Métodos y funciones del componente
    const closeDialog = () => {
      item.value = {}
      dialog.value = false
    }

    // Creación del componente
    bus.on('openDialogDetalleItemSolicitud', (obj) => {
      item.value = obj
      dialog.value = true
    })

    return {
      dialog,
      item,
      closeDialog,
      vmoment,
      props,
      util
    }
  }
}
</script>

<style>

</style>