<template>
  <q-dialog
    v-model="dialog"
    persistent
    maximized
    class="custom-font"
    transition-show="slide-up"
    transition-hide="slide-down"
  >
    <view-file />
    <detalle-item-solicitud :modalidad_id="solicitud.modalidad_id" />
    <historial-solicitud />
    <q-card
      style="width: 100%; height: 100%"
      flat v-if="loading"
      class="flex flex-center wrapper"
    >
      <q-card-section class="text-center">
        <div>
          <q-spinner-bars
            color="white"
            size="4em"
          />
          <q-tooltip :offset="[0, 8]">QSpinnerBars</q-tooltip>
        </div>
      </q-card-section>
    </q-card>
    <q-card
      style="width: 100%"
      v-if="!loading"
      class="bg-yellow-2"
    >
      <q-card-section class="text-center bg-white">
        <div class="row">
          <div class="col-xs-2">
            <q-btn round color="blue-grey" icon="arrow_back_ios" flat @click="closeDialog()" />
          </div>
          <div class="col-xs-8">
            <span class="text-h6 text-bold">Detalles de la solicitud</span>
          </div>
          <div class="col-xs-2">
            <q-btn flat color="blue-grey" icon="list">
              <q-menu>
                <q-list style="min-width: 100px">
                  <q-item clickable v-close-popup @click="verHistorialSolicitud()">
                    <q-item-section>Historial</q-item-section>
                  </q-item>
                  <q-separator />
                  <q-item clickable v-close-popup @click="modificarSolicitud({solicitud})" v-if="solicitud.last_estado_id == 10 || solicitud.last_estado_id == 11 || solicitud.last_estado_id == 22">
                    <q-item-section>Modificar</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </div>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section class="bg-pink-2">
        <div class="row">
          <div class="col-xs-6">
            <p><strong>Nro. solicitud: </strong> <span>{{solicitud.numero}}</span></p>
          </div>
          <div class="col-xs-6">
            <strong>Fecha limite: </strong><span>{{vmoment(solicitud.fecha_limite).format('DD/MM/YYYY')}}</span>
          </div>
          <div class="col-xs-12">
            <p><strong>Empresa: </strong> <span>{{solicitud.empresa}}</span></p>
          </div>
          <div class="col-xs-12">
            <p><strong>Proyecto: </strong> <span>{{solicitud.proyecto}}</span></p>
          </div>
          <div class="col-xs-12">
            <p><strong>Solicitante: </strong> <span>{{solicitud.usuario}}</span></p>
          </div>
          <div class="col-xs-12">
            <p><strong>Modalidad: </strong> <span>{{solicitud.modalidad}}</span></p>
          </div>
          <div class="col-xs-12">
            <div class="row">
              <div :class="solicitud.tipo_cambio !== 1 ? 'col-xs-6' : 'col-xs-12'">
                <strong>Moneda: </strong><span>{{solicitud.moneda}}</span>
              </div>
              <div class="col-xs-6" v-if="solicitud.tipo_cambio !== 1">
                <strong>Tipo de cambio: </strong><span>{{solicitud.tipo_cambio}}</span>
              </div>
            </div>
          </div>
        </div>
      </q-card-section>
      <q-separator></q-separator>
        <q-card-section class="bg-blue-2" v-if="solicitud.documentos.length > 0">
          <div class="row q-pa-none">
            <div class="col-xs-12">
              <q-list>
                <q-expansion-item
                  dense
                  dense-toggle
                  expand-separator
                  label="Documentos adjuntos"
                  class="text-bold"
                >
                  <q-list>
                    <q-item
                      clickable
                      v-ripple
                      v-for="documento in solicitud.documentos"
                      :key="documento.id"
                      @click="verDocumento(documento)"
                    >
                      <q-card style="width: 100%" class="text-caption">
                        <q-card-section class="bg-teal text-white">
                          <div class="row full-width">
                            <div class="col-xs-2">
                              <q-icon name="attach_file" size="sm"></q-icon>
                            </div>
                            <div class="col-xs-10 wrap">
                              <span style="word-break: break-all">{{documento.direccion}}</span>
                            </div>
                          </div>
                        </q-card-section>
                      </q-card>
                    </q-item>
                  </q-list>
                </q-expansion-item>
              </q-list>
              
            </div>
          </div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section class="bg-green-2">
          <div class="row">
            <div class="col-xs-12">
              <p><strong>Desembolso a: </strong> <span>{{solicitud.desembolso}}</span></p>
            </div>
            <div class="col-xs-12">
              <q-list>
                <q-expansion-item
                  dense
                  dense-toggle
                  expand-separator
                  label="ítem de la solicitud"
                  class="text-bold"
                >
                  <q-list separator bordered v-if="solicitud.modalidad_id == 1 || solicitud.modalidad_id == 2">
                    <q-item
                      clickable
                      v-ripple
                      v-for="(item,index) in solicitud.items"
                      :key="item.id"
                      @click="verDetalleItem(item)"
                      :class="index%2 == 0 ? 'bg-grey-4' : 'bg-grey-3'"
                    >
                      <q-item-section>
                        <q-item-label>{{item.detalle}}</q-item-label>
                        <q-item-label caption>Cant.: {{~~item.cantidad}}</q-item-label>
                      </q-item-section>

                      <q-item-section side top>
                        <q-badge color="blue-grey" :label="`P/U: ${item.costo}`" />
                        <q-item-label class="text-right text-caption q-pt-lg text-bold">Subtotal: {{util.numberMoney(item.subtotal)}}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                  <q-list separator bordered v-if="solicitud.modalidad_id == 3 || solicitud.modalidad_id == 4">
                    <q-item
                      clickable
                      v-ripple
                      v-for="(item, index) in solicitud.items_rendidos"
                      :key="item.id"
                      @click="verDetalleItem(item)"
                      :class="index%2 == 0 ? 'bg-grey-4' : 'bg-grey-3'"
                    >
                      <q-item-section>
                        <q-item-label>{{item.detalle}}</q-item-label>
                        <q-item-label caption>Cant.: {{~~item.cantidad}}</q-item-label>
                      </q-item-section>

                      <q-item-section side top>
                        <q-badge color="blue-grey" :label="`P/U: ${item.costo}`" />
                        <q-item-label class="text-right text-caption q-pt-lg text-bold">Subtotal: {{util.numberMoney(item.subtotal)}}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-expansion-item>
              </q-list>
            </div>
            <div class="col-xs-12" v-if="items_modificados > 0">
              <p><strong>Items modificados: </strong></p>
            </div>
            <div class="col-xs-12" v-if="items_modificados > 0">
              <q-list bordered separator>
                <q-item clickable v-ripple>
                  <q-item-section>
                    <q-item-label>Item with caption</q-item-label>
                    <q-item-label caption>Caption</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </div>
        </q-card-section>
      <q-separator></q-separator>
      <q-card-section class="bg-yellow-2">
        <div class="row">
          <div class="col-xs-12">
            <p><strong>Total: </strong> <span>{{util.numberMoney(solicitud.total)}}</span></p>
          </div>
          <div class="col-xs-12">
            <p><strong>Son: </strong> <span>{{ literalMount(solicitud.total, solicitud.moneda) }}</span></p>
          </div>
          <div class="col-xs-12">
            <p><strong>Referencia: </strong><span>{{solicitud.referencia}}</span> </p>
          </div>
          <div class="col-xs-12">
            <p><strong>Justificación: </strong> <span>{{solicitud.observacion}}</span></p>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import axios from 'axios'
import {inject, ref} from 'vue'
import moment from 'moment'

import env from '../../../../config/env'
import NumeroALetras from '../../../plugins/literal-count'
import util from '../../../plugins/util'
import ViewFile from '../../../components/ViewFile.vue'
import DetalleItemSolicitud from './DetalleItemSolicitud.vue'
import HistorialSolicitud from './HistorialSolicitud.vue'

export default {
  components: { ViewFile, DetalleItemSolicitud, HistorialSolicitud },
  setup () {
    // Variables reactivas y no reactivas
    const bus = inject('bus')

    const dialog = ref(false)
    const solicitud = ref({})
    const items_modificados = ref([])
    const loading = ref(false)

    
    const vmoment = moment
    const literalMount = NumeroALetras

    // Métodos y funciones
    const closeDialog = () => {  
      solicitud.value = {}
      dialog.value = false
      loading.value = false
    }

    const getDatosSolicitud = async (solicitud_id) => {
      try {
        loading.value = true
        let res = await axios.get(`json/datos_solicitud/${solicitud_id}`)
        solicitud.value = res.data
        res = await axios.get(`json/items_solicitud/${solicitud_id}`)
        solicitud.value.items = res.data
        res = await axios.get(`json/items_rendidos/${solicitud_id}`)
        solicitud.value.items_rendidos = res.data
        res = await axios.get(`solicitudes/estados/${solicitud_id}`)
        solicitud.value.historial = res.data
        res = await axios.get(`json/documentos_solicitud/${solicitud_id}`)
        solicitud.value.documentos = res.data
        loading.value = false
      } catch (error) {
        console.log(error)
      }
    }

    const verDocumento = (documento) => {
      let url_file = `${env.SERVER_URL}empresas/${documento.empresa_slug}/${documento.gestion}/solicitud/${documento.direccion}`
      bus.emit('openDialogViewFile', url_file)
    }

    const verDetalleItem = (item) => {
      bus.emit('openDialogDetalleItemSolicitud', item)
    }

    const verHistorialSolicitud = () => {
      bus.emit('openDialogHistorialSolicitud', solicitud.value.historial)
    }

    const modificarSolicitud = (item) => {
      bus.emit('openDialogModificarSolicitud', item.solicitud)
    }

    // Creación del componente
    bus.on('openDialogDetalleSolicitud', (item) => {
      getDatosSolicitud(item)
      dialog.value = true
    })
    bus.on('closeDialogModificarSolicitud', () => {
      bus.emit('closeDialogCrearSolicitud')
      dialog.value = false
    })
    bus.on('openDialogDetalleSolicitudBuscar', (item) => {
      getDatosSolicitud(item)
      dialog.value = true
    })

    // Retorno de variables template
    return {
      dialog,
      closeDialog,
      solicitud,
      vmoment,
      literalMount,
      items_modificados,
      loading,
      verDocumento,
      verDetalleItem,
      verHistorialSolicitud,
      modificarSolicitud,
      util
    }
  }
}
</script>

<style>

</style>