<template>
  <q-page class="items-center">
    <crear-solicitud/>
    <q-pull-to-refresh @refresh="refresh" color="blue-grey">
      <q-card style="width: 100%" flat square>
        <q-card-section
          :class="`q-pa-sm text-center bg-${bar_color}`"
        >
          <span class="text-h6 text-white"><strong>{{ titulo }}</strong></span>
        </q-card-section>
        <q-card-section class="text-center" v-if="solicitudes.data.length ==  0 && titulo && !loading">
          <span class="text-blue-grey"><q-icon name="sentiment_very_dissatisfied"></q-icon> No se encontraron solicitudes</span>
        </q-card-section>
        <q-card-section class="q-pa-none">
          
          <div class="row full-width">
            <div class="col-xs-12">
              <q-infinite-scroll @load="onLoad" :offset="250" v-if="solicitudes.data.length > 0" ref="infiniteScroll">
                <q-list bordered separator>
                  
                    <q-item
                      clickable
                      v-ripple
                      v-for="solicitud in solicitudes.data"
                      :key="solicitud.id"
                      @click="verDetalle(solicitud.id)"
                      
                    >
                      <q-item-section avatar>
                        <q-badge color="teal" class="text-body1" style="min-width: 50px">
                          <div class="row items-center text-center full-width">
                            <div class="col-xs-12">
                              {{solicitud.numero}}
                            </div>
                          </div>
                        </q-badge>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{solicitud.proyecto.nombre}}</q-item-label>
                        <q-item-label caption>{{solicitud.modalidad.nombre}}</q-item-label>
                        <q-tooltip class="bg-blue-grey text-body2" :offset="[10, 10]">
                          {{solicitud.nom_completo_proyecto}}
                        </q-tooltip>
                      </q-item-section>

                      <q-item-section side top>
                        <q-badge color="blue-grey" style="min-width: 50px">
                          <div class="row items-center text-center full-width">
                            <div class="col-xs-12">
                              {{solicitud.estadoCodigo}}
                            </div>
                          </div>
                        </q-badge>
                        <q-item-label class="text-right text-caption q-pt-lg text-bold">{{`${solicitud.moneda.sigla} ${util.numberMoney(solicitud.total)}`}}</q-item-label>
                      </q-item-section>
                    </q-item>
                    
                  
                </q-list>
                <template v-slot:loading>
                  <div class="row justify-center q-my-md">
                    <q-spinner-bars color="blue-grey" size="40px" />
                  </div>
                </template>
              </q-infinite-scroll>
              
            </div>
          </div>
          
        </q-card-section>
      </q-card>
    </q-pull-to-refresh>
    
    <!-- Floating Button -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab class="glossy bg-blue-grey" text-color="white" icon="filter_alt" direction="left">
        <q-fab-action class="glossy bg-blue-grey" text-color="white" icon="search" @click="() => router.push({name: 'searchSolicitud'})" />
        <q-fab-action class="glossy bg-blue-grey" text-color="white" icon="add" @click="crearSolicitud()" />
      </q-fab>
    </q-page-sticky>
  </q-page>
</template>

<script>
import { ref, inject } from 'vue'
import axios from 'axios'
import {useQuasar} from 'quasar'
import {useRouter} from 'vue-router'

import util from '../../plugins/util'
import CrearSolicitud from './dialogs/CrearEditarSolicitud.vue'

export default({
  name: 'Solicitud',
  components: {
    CrearSolicitud
  },
  setup () {
    const $q = useQuasar()
    const router = useRouter()

    // Variables reactivas y no reactivas
    const bus = inject('bus')

    const titulo = ref('')
    const solicitudes = ref({
      data: []
    })
    const scrollTargetRef = ref(null)
    const current_page = ref('curso')
    const bar_color = ref('')
    const next_page = ref(null)
    const infiniteScroll = ref(null)
    const loading = ref(false)
    const showTooltipProyecto = ref(false)
    
    // Métodos y funciones
    const postSolicitudes = async (page) => {
      $q.loading.show()
      loading.value = true
      current_page.value = page
      let data
      const empresa = $q.localStorage.getItem('empresa')
      const gestion = $q.localStorage.getItem('gestion')
      if (page === 'curso') {
        data = {
          empresa: empresa.id,
          gestion: gestion.id,
        }
      } else {
        data = {
          empresa: empresa.id,
          gestion: gestion.id,
          t: current_page.value
        }
      }
      bus.emit('recargaEstados')
      let res = await axios.post('solicitudes', data)
      titulo.value = res.data.tituloSeleccionSolicitud
      solicitudes.value = res.data.solicitudes
      next_page.value = res.data.solicitudes.next_page_url
      getBarColor()
      $q.loading.hide()
      loading.value = false
    }

    // Color de la barra superior
    const getBarColor = () => {
      switch (current_page.value) {
        case 'curso':
          bar_color.value = 'teal'
          break
        case 'rendiciones':
          bar_color.value = 'purple'
          break
        case 'observadas':
          bar_color.value = 'warning'
          break
        case 'rechazadas':
          bar_color.value = 'negative'
          break
        case 'rendidas':
          bar_color.value = 'secondary'
          break
        case 'finalizadas':
          bar_color.value = 'primary'
          break
        default:
          bar_color.value = 'teal'
      }
    }

    const verDetalle = (id) => {
      bus.emit('openDialogDetalleSolicitud', id)
    }

    const crearSolicitud = () => {
      bus.emit('openDialogCrearSolicitud')
    }

    const refresh = (done) => {
      postSolicitudes(current_page.value)
      infiniteScroll.value.resume()
      done()
    }

    const onLoad = async (index, done) => {
      if (next_page.value) {
        const empresa = $q.localStorage.getItem('empresa')
        const gestion = $q.localStorage.getItem('gestion')
        let data = {}
        if (current_page.value === 'curso') {
          data = {
            empresa: empresa.id,
            gestion: gestion.id,
          }
        } else {
          data = {
            empresa: empresa.id,
            gestion: gestion.id,
            t: current_page.value
          }
        }
        // let res = await axios.post(`solicitudes${url[1]}`, data)
        let res = await axios({
          url: next_page.value,
          method: 'post',
          data
        })
        let datos = res.data.solicitudes.data
        for (let clave in datos){
          solicitudes.value.data.push(datos[clave])
        }
        next_page.value = res.data.solicitudes.next_page_url
        done()
      } else {
        done(true)
      }
    }

    // Creación del componente
    postSolicitudes(current_page.value)
    bus.on('closeDialogCrearSolicitud', () => {
      postSolicitudes('curso')
    })
    bus.on('changePage', (page) => {
      solicitudes.value.data = []
      postSolicitudes(page)
    })

    return {
      titulo,
      solicitudes,
      router,
      verDetalle,
      crearSolicitud,
      refresh,
      scrollTargetRef,
      onLoad,
      getBarColor,
      bar_color,
      util,
      infiniteScroll,
      loading,
      showTooltipProyecto
    }

  }

})
</script>
