<template>
  <q-page class="items-center" ref="scrollTargetRef">
    <CrearEditarSolicitud />
    <q-pull-to-refresh @refresh="refresh" color="blue-grey">
      <q-card style="width: 100%" flat square>
        <q-card-section
          :class="`q-pa-sm text-center bg-${bar_color}`"
        >
          <span class="text-h6 text-white"><strong>{{current_page === 'solicitud-autorizar' ? 'AUTORIZAR SOLICITUDES' : 'SOLICITUDES DISPONIBLES'}}</strong></span>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section class="text-center" v-if="solicitudes.length ==  0 && !loading">
          <span class="text-blue-grey"><q-icon name="sentiment_very_dissatisfied"></q-icon> No se encontraron solicitudes</span>
        </q-card-section>
        <q-card-section class="q-pa-none">
          
          <div class="row full-width">
            <div class="col-xs-12">
              <q-infinite-scroll @load="onLoad" :offset="250" v-if="solicitudes.length > 0" ref="infiniteScroll">
                <q-list bordered separator>
                  
                    <q-item
                      clickable
                      v-ripple
                      v-for="solicitud in solicitudes"
                      :key="solicitud.id"
                      @click="verDetalle(solicitud.id)"
                      :class="current_page === 'solicitud-autorizar' ? getColorCard(solicitud.created_at) : ''"
                    >
                      <q-item-section avatar>
                        <q-badge color="teal" class="text-body1" style="min-width: 50px">
                          <div class="row items-center text-center full-width">
                            <div class="col-xs-12">
                              {{solicitud.numero}}
                            </div>
                          </div>
                        </q-badge>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{solicitud.proyecto.nombre}}</q-item-label>
                        <q-item-label caption>{{solicitud.modalidad.nombre}}</q-item-label>
                        <q-tooltip class="bg-blue-grey text-body2" :offset="[10, 10]">
                          {{solicitud.nom_completo_proyecto}}
                        </q-tooltip>
                      </q-item-section>

                      <q-item-section side top>
                        <q-badge color="blue-grey" style="min-width: 50px">
                          <div class="row items-center text-center full-width">
                            <div class="col-xs-12">
                              {{solicitud.estadoCodigo}}
                            </div>
                          </div>
                        </q-badge>
                        <q-item-label class="text-right text-caption q-pt-lg text-bold">{{`${solicitud.moneda.sigla} ${util.numberMoney(solicitud.total)}`}}</q-item-label>
                      </q-item-section>
                    </q-item>
                </q-list>
                <template v-slot:loading>
                  <div class="row justify-center q-my-md">
                    <q-spinner-bars color="blue-grey" size="40px" />
                  </div>
                </template>
              </q-infinite-scroll>
              
            </div>
          </div>
          
        </q-card-section>
      </q-card>
    </q-pull-to-refresh>
    
    <!-- Floating Button -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab class="glossy bg-blue-grey" text-color="white" icon="filter_alt" direction="left">
        <q-fab-action class="glossy bg-blue-grey" text-color="white" icon="search" @click="() => router.push({name: 'searchAutorizar'})" />
        <q-fab-action class="glossy bg-blue-grey" text-color="white" icon="add" @click="crearSolicitud()" />
      </q-fab>
    </q-page-sticky>
  </q-page>
</template>

<script>
import { ref, inject } from 'vue'
import axios from 'axios'
import {useQuasar} from 'quasar'
import {useRouter} from 'vue-router'

import util from '../../plugins/util'
import CrearEditarSolicitud from './dialogs/CrearEditarSolicitud.vue'
import moment from 'moment'

export default({
  name: 'Solicitud',
  components: {
    CrearEditarSolicitud
  },
  setup () {
    const $q = useQuasar()
    const router = useRouter()

    // Variables reactivas y no reactivas
    const bus = inject('bus')

    const solicitudes = ref({
      data: []
    })
    const scrollTargetRef = ref(null)
    const current_page = ref('solicitud-autorizar')
    const bar_color = ref('warning')
    const next_page = ref(null)
    const infiniteScroll = ref(null)
    const loading = ref(false)
    
    // Métodos y funciones
    const postSolicitudes = async (page) => {
      $q.loading.show()
      loading.value = true
      current_page.value = page
      getBarColor()
      const empresa = $q.localStorage.getItem('empresa')
      const gestion = $q.localStorage.getItem('gestion')
      let data = {
        empresa: empresa.id,
        gestion: gestion.id,
        tabs: 'autorizador'
      }
      bus.emit('recargaEstados')
      let res = await axios.post(current_page.value, data)
      solicitudes.value = res.data.solicitudes.data
      next_page.value = res.data.solicitudes.next_page_url
      $q.loading.hide()
      loading.value = false
    }

    // Color de la barra superior
    const getBarColor = () => {
      switch (current_page.value) {
        case 'solicitud-autorizar':
          bar_color.value = 'warning'
          break
        case 'solicitudes-disponibles':
          bar_color.value = 'teal'
          break
        default:
          bar_color.value = 'warning'
      }
    }

    // Color del card según tiempo de solicitud
    const getColorCard = (fecha_created_at) => {
      let color = ''
      let dias_diff = moment().diff(moment(fecha_created_at, 'DD-MM-YYYY'), 'days')
      if (dias_diff <= 3) {
        color = 'bg-green-2'
      } else if (dias_diff > 3 && dias_diff <= 7) {
        color = 'bg-yellow-2'
      } else if (dias_diff > 7 && dias_diff <= 14) {
        color = 'bg-orange-2'
      } else if (dias_diff > 14) {
        color = 'bg-red-2'
      }
      return color
    }

    const verDetalle = (id) => {
      const data = {
        id,
        current_page: current_page.value
      }
      bus.emit('openDialogDetalleSolicitudAutorizar', data)
    }

    const crearSolicitud = () => {
      bus.emit('openDialogCrearSolicitud')
    }

    const refresh = (done) => {
      postSolicitudes(current_page.value)
      infiniteScroll.value.resume()
      done()
    }

    const onLoad = async (index, done) => {
      if (next_page.value) {
        const empresa = $q.localStorage.getItem('empresa')
        const gestion = $q.localStorage.getItem('gestion')
        let data = {
          empresa: empresa.id,
          gestion: gestion.id,
          tabs: 'autorizador'
        }
        let res = await axios({
          url: next_page.value,
          method: 'post',
          data
        })
        let datos = res.data.solicitudes.data
        for (let clave in datos){
          solicitudes.value.push(datos[clave])
        }
        next_page.value = res.data.solicitudes.next_page_url
        done()
      } else {
        done(true)
      }
    }

    // Creación del componente
    postSolicitudes(current_page.value)
    bus.on('closeDialogCrearSolicitudAutorizar', () => {
      postSolicitudes(current_page.value)
    })
    bus.on('changePage', (page) => {
      solicitudes.value = []
      postSolicitudes(page)
    })

    return {
      solicitudes,
      router,
      verDetalle,
      crearSolicitud,
      refresh,
      scrollTargetRef,
      onLoad,
      getBarColor,
      bar_color,
      current_page,
      util,
      infiniteScroll,
      loading,
      getColorCard
    }

  }

})
</script>
