<template>
  <q-page>
    <q-card class="full-width" flat>
      <q-form @submit.prevent="buscarSolicitudes()">
        <q-card-section>
          <div class="row q-gutter-y-sm">
            <div class="col-xs-12" v-if="form.selectOpcion !== 4">
              <q-input
                v-model="form.buscar"
                label="Buscar"
                class="iu"
                :rules="[v => !!v || 'Requerido']"
              ></q-input>
            </div>
            <div class="col-xs-6 q-pa-sm" v-if="form.selectOpcion == 4">
              <q-input v-model="form.fechaIni" mask="date" :rules="['date']" label="Desde">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                      <q-date v-model="form.fechaIni">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Close" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-6 q-pa-sm" v-if="form.selectOpcion == 4">
              <q-input v-model="form.fechaFin" mask="date" :rules="['date']" label="Hasta">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                      <q-date v-model="form.fechaFin">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Close" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12">
              <q-select
                v-model="form.selectOpcion"
                :options="opciones"
                option-label="nombre"
                option-value="opcion"
                label="Parametro de búsqueda"
                map-options
                emit-value
                :rules="[v => !!v || 'Requerido']"
              ></q-select>
            </div>
            <div class="col-xs-6 q-pa-sm">
              <q-btn
                icon="arrow_back"
                label="Volver"
                class="full-width"
                color="grey"
                @click="router.push({path: '/autorizaciones'})"
              ></q-btn>
            </div>
            <div class="col-xs-6 q-pa-sm">
              <q-btn
                type="submit"
                icon="search"
                label="Buscar"
                class="full-width"
                color="primary"
                :loading="loading"
              ></q-btn>
            </div>
          </div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section class="text-center" v-if="loading">
          <q-spinner-bars
            color="blue-grey"
            size="3em"
          />
        </q-card-section>
        <q-card-section v-if="solicitudes.length > 0" class="q-pa-none">
          <div class="row full-width">
            <div class="col-xs-12 text-center">
              <span class="text-h6 text-blue-grey">Resultados de la búsqueda</span>
            </div>
            <div class="col-xs-12">
              <q-list bordered separator>
                  
                <q-item
                  clickable
                  v-ripple
                  v-for="solicitud in solicitudes"
                  :key="solicitud.id"
                  @click="verDetalle(solicitud.id)"
                  
                >
                  <q-item-section avatar>
                    <q-badge color="teal" class="text-body1" style="min-width: 50px">
                      <div class="row items-center text-center full-width">
                        <div class="col-xs-12">
                          {{solicitud.numero}}
                        </div>
                      </div>
                    </q-badge>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{solicitud.proyecto.nombre}}</q-item-label>
                    <q-item-label caption>{{solicitud.modalidad.nombre}}</q-item-label>
                    <q-tooltip class="bg-blue-grey text-body2" :offset="[10, 10]">
                      {{solicitud.nom_completo_proyecto}}
                    </q-tooltip>
                  </q-item-section>

                  <q-item-section side top>
                    <q-badge color="blue-grey" style="min-width: 50px">
                        <div class="row items-center text-center full-width">
                          <div class="col-xs-12">
                            {{solicitud.estadoCodigo}}
                          </div>
                        </div>
                      </q-badge>
                    <q-item-label class="text-right text-caption q-pt-lg text-bold">{{`${solicitud.moneda.sigla} ${util.numberMoney(solicitud.total)}`}}</q-item-label>
                  </q-item-section>
                </q-item>
                
              
            </q-list>
            </div>
          </div>
        </q-card-section>
        <q-card-section v-if="notFound && !loading">
          <div class="row">
            <div class="col-xs-12 text-center q-pa-none">
              <span class="text-h6 text-negative">No se encontró ningúna solicitud</span>
            </div>
          </div>
        </q-card-section>
      </q-form>
    </q-card>
  </q-page>
</template>

<script>
import {inject, ref} from 'vue'
import { useQuasar } from 'quasar'
import axios from 'axios'
import moment from 'moment'
import { useRouter } from 'vue-router'
import util from '../../plugins/util'

export default {
  setup () {
    // Variables reactivas y no reactivas
    const $q = useQuasar()
    const bus = inject('bus')
    const vmoment = moment
    const router = useRouter()

    const form = ref({
      buscar: ''
    })
    const opciones = ref([
      {
        nombre: 'NRO. SOLICITUD',
        opcion: 1
      },
      {
        nombre: 'MONTO',
        opcion: 2
      },
      {
        nombre: 'PROYECTO',
        opcion: 3
      },
      {
        nombre: 'FECHA',
        opcion: 4
      },
      {
        nombre: 'SOLICITANTE',
        opcion: 5
      },
      {
        nombre: 'DESEMBOLSO',
        opcion: 6
      },
      {
        nombre: 'REFERENCIA',
        opcion: 7
      },
      {
        nombre: 'JUSTIFICACIÓN',
        opcion: 8
      }
    ])
    const loading = ref(false)
    const solicitudes = ref([])
    const notFound = ref(false)

    // Métodos y funciones
    const buscarSolicitudes = async () => {
      try {
        loading.value = true
        const empresa = $q.localStorage.getItem('empresa')
        const gestion = $q.localStorage.getItem('gestion')
        let data = {
          empresa: empresa.id,
          gestion: gestion.id,
          buscar: form.value.buscar,
          selectOpcion: form.value.selectOpcion
        }
        if (form.value.selectOpcion == 4) {
          data = {
            ...data,
            fechaIni: form.value.fechaIni,
            fechaFin: form.value.fechaFin
          }
        }
        let res = await axios.post('solicitud-autorizar', data)
        solicitudes.value = res.data.solicitudes.data
        if (solicitudes.value.length == 0) {
          notFound.value = true
        } else {
          notFound.value = false
        }
        loading.value = false
      } catch (error) {
        console.log(error)
        loading.value = false
      }
    }

    const verDetalle = (id) => {
      const data = {
        id,
        current_page: 'solicitud-autorizar'
      }
      bus.emit('openDialogDetalleSolicitudAutorizar', data)
    }

    // Retorno de variables al template
    return {
      form,
      opciones,
      loading,
      solicitudes,
      buscarSolicitudes,
      verDetalle,
      notFound,
      vmoment,
      router,
      util
    }
  }
}
</script>

<style>

</style>