<template>
  <q-page class="custom-font pragma-black" dark>
    <q-form @submit.prevent="submit()">
      <q-header>
        <q-card class="pragma-black text-white" style="width: 100%" flat square>
          <q-card-section class="text-center">
            <span class="text-h5 text-bold text-white">Elegir empresa</span>
          </q-card-section>
          <q-separator color="white"></q-separator>
          <q-card-section>
            <div class="row items-center">
              <div class="col-xs-6">
                <q-select
                  v-model="form.gestion"
                  :options="gestiones"
                  option-value="id"
                  option-label="gestion"
                  label="Gestión"
                  outlined
                  dark
                  label-color="white"
                  :rules="[v => !!v || 'Elija una gestión por favor']"
                ></q-select>
              </div>
              <div class="col-xs-6 flex flex-center" style="height: 150px">
                <q-img
                  :src="url_servidor+form.empresa.logo"
                  style="width: 80%"
                  v-if="form.empresa !== null"
                />
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-header>

      <q-card style="width: 100%" flat square class="pragma-black text-white">
        <q-card-section>
          <q-list padding class="rounded-borders">
            <q-item
              clickable
              v-ripple
              :active="link == empresa.id"
              @click="link = empresa.id; form.empresa = empresa"
              active-class="my-menu-link"
              v-for="empresa in empresas"
              :key="empresa.key"
            >
              <q-item-section avatar>
                <q-icon name="trending_up" />
              </q-item-section>

              <q-item-section>{{empresa.nombre}}</q-item-section>
            </q-item>
          </q-list>
          
        </q-card-section>
      </q-card>
      <q-footer elevated class="pragma-black">
        <div class="q-pa-xs">
          <q-btn
            class="full-width bg-pragma"
            :loading="loading"
            type="submit"
            icon="arrow_right">
            Siguiente
          </q-btn>
        </div>
      </q-footer>
    </q-form>
  </q-page>
</template>

<script>
import {ref, onMounted} from 'vue'
import axios from 'axios'

import env from '../../../config/env'
import {useQuasar} from 'quasar'
import {useRouter} from 'vue-router'

export default {
  setup () {
    const $q = useQuasar()
    const router = useRouter()
    const gestiones = ref([])
    const empresas = ref([])
    const form = ref({
      gestion: null,
      empresa: null
    })
    const validate = ref({
      empresa: false
    })
    const imagen = ref('')
    const url_servidor = ref(env.SERVER_URL)
    const loading = ref(false)
    const link = ref(null)

    const getSeleccionEmpresa = async () => {
      try {
        $q.loading.show()
        let res = await axios.get('seleccion-empresa')
        gestiones.value = res.data.gestiones
        gestiones.value.push({
          id: `${res.data.ultimas_gestiones[1].id}|${res.data.ultimas_gestiones[0].id}`,
          gestion: `${res.data.ultimas_gestiones[1].gestion} y ${res.data.ultimas_gestiones[0].gestion}`
        })
        empresas.value = res.data.empresas
        form.value.gestion = gestiones.value[0]
        form.value.empresa = empresas.value[0]
        link.value = empresas.value[0].id
        $q.loading.hide()
      } catch (error) {
        console.log(error)
      }
    }

    const submit = () => {
      if (form.value.empresa == null) {
        return validate.value.empresa = true
      } else {
        validate.value.empresa = false
      }
      loading.value = true
      $q.localStorage.set('empresa', form.value.empresa)
      $q.localStorage.set('gestion', form.value.gestion)
      router.push('index')
    }

    onMounted (() => {
      getSeleccionEmpresa()
    })
    return {
      gestiones,
      empresas,
      form,
      imagen,
      url_servidor,
      submit,
      validate,
      loading,
      link
    }
  }
}
</script>

<style>
.my-menu-link {
  color: white;
  background: #677b85 !important;
}
  
</style>