<template>
  <q-layout view="hHh Lpr fFf">
    <q-page class="flex flex-center custom-font wrapper">
      <div class="row full-width text-center">
        <div class="col-xs-12 text-blue-grey">
          <strong>
            <h1>403</h1>
          </strong>
        </div>
        <div class="col-xs-12 q-pb-xl text-white">
          <p class="text-h5">No tiene permisos para ver esta página :'(</p>
        </div>
        <div class="col-xs-12">
          <q-btn
            label="Página Principal"
            icon="home"
            color="blue-grey"
            rounded
            @click="home()"
          ></q-btn>
        </div>  
      </div>
    </q-page>
  </q-layout>
</template>

<script>
import { useRouter } from 'vue-router'

export default {
 setup () {
   // Variables reactivas y no reactivas
   const router = useRouter()
   // Métodos y funciones
   const home = () => {
     router.push({name: 'indexSolicitud'})
   }
   // Retorn de variables
   return {
     home
   }
 }
}
</script>

<style>

</style>