<template>
  <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
    <q-list padding separator dense>

      <q-item
        clickable
        v-ripple
        to="/choose-business"
      >
        <q-item-section avatar>
          <q-icon name="corporate_fare" />
        </q-item-section>

        <q-item-section>
          <strong>Empresas</strong>
        </q-item-section>
      </q-item>

      <q-expansion-item
        icon="edit_calendar"
        label="Gestiones"
        default-opened
        class="text-weight-bold"
      >
        <q-list separator>
          <q-item
            clickable
            v-ripple
            :inset-level="1"
            v-for="gestion in gestiones"
            :key="gestion.gestion"
            @click="setGestion(gestion)"
          >

            <q-item-section class="text-weight-regular">
              {{gestion.gestion}}
            </q-item-section>
          </q-item>
        </q-list>

      </q-expansion-item>

      <q-expansion-item
        icon="edit_note"
        label="Solicitudes"
        default-opened
        class="text-weight-bold"
      >
        <q-list separator>
          <q-item
            clickable
            v-ripple
            :inset-level="1"
            to="/solicitudes"
          >
            <q-item-section class="text-weight-regular">
              Usuario
            </q-item-section>
          </q-item>
          <q-item
            clickable
            v-ripple
            :inset-level="1"
            to="/autorizaciones"
            v-if="user.rol_id == 3"
          >
            <q-item-section class="text-weight-regular">
              Autorización
            </q-item-section>
          </q-item>
        </q-list>

      </q-expansion-item>

      <q-item
        clickable
        v-ripple
        @click="logout()"
      >
        <q-item-section avatar>
          <q-icon name="logout" />
        </q-item-section>

        <q-item-section>
          <strong>Cerrar sesión</strong>
        </q-item-section>

        <q-item-section avatar>
          <q-spinner-bars
            color="white"
            size="2em"
            v-if="loading"
          />
        </q-item-section>

      </q-item>

    </q-list>
  </q-scroll-area>

  <q-img class="absolute-top" :src="`${url}${empresa.logo}`" style="height: 150px" v-if="empresa">
    <div class="absolute-bottom bg-transparent-2" style="width: 100%; height: 100%">
      <div class="text-weight-bold q-pt-xl">{{user.nombre}}</div>
      <div>{{user.usuario}}</div>
    </div>
  </q-img>
</template>

<script>
import env from '../../config/env'
import {ref} from 'vue'
import { useQuasar } from 'quasar'
import axios from 'axios'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import util from '../plugins/util'

export default {
  setup () {
    // Variables reactivas y no reactivas
    const $q = useQuasar()
    const router = useRouter()
    const store = useStore()

    const url = ref(env.SERVER_URL)
    const loading = ref(false)
    const empresa = $q.localStorage.getItem('empresa')
    const gestion = $q.localStorage.getItem('gestion')
    const gestiones = ref([])
    const user = ref(store.state.auth.user)

    // Métodos y funciones
    const getGestiones = async () => {
      let res = await axios.get('gestion')
      gestiones.value = res.data
    }

    const setGestion = (data) => {
      $q.localStorage.set('gestion', data)
      router.go()
    }

    const logout = async () => {
      loading.value = true
      await store.dispatch('auth/logout')
      $q.notify({
        message: '¡Hasta pronto!',
        color: 'positive',
      })
      loading.value = false
      router.push({ name: 'login' })
    }

    // Creación del componente
    if (util.verifyBusiness()) {
      getGestiones()
    } else {
      router.push({name: 'choose-business'})
    }
    

    // Retorno de variables al template
    return {
      url,
      empresa,
      gestion,
      gestiones,
      setGestion,
      logout,
      user,
      loading
    }
  }
}
</script>

<style>

</style>