/* Fuente UX/UI */
@font-face {
  font-family: customfont;
  src: url(./fonts/titillium_web.woff2);
}

.custom-font {
  font-family: 'customfont';
}

.iu input,textarea{
  text-transform: uppercase;
}

.tu textarea{
  text-transform: uppercase;
}

.q-item.q-router-link--active{
  color: aqua;
}

.pragma-black {
  background: #2c2c2c;
}

.text-pragma {
  color: #a53042 !important;
}

.bg-pragma {
  background: #a53042 !important;
}

.text-pragma-secon {
  color: #677b85 !important;
}

.bg-pragma-secon {
  background: #677b85 !important;
}

.wrapper {
  background-image: linear-gradient(to right, #4d545a,#444c53,#454a50,#373c42,#7e848a);
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0,0,0,.5);
  height: 100%;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}

@keyframes gradients {
    0%   {background-position: 0 0;}
    25% {background-position: 50% 0;}
    50% {background-position: 90% 0;}
    60% {background-position: 60%;}
    75% {background-position: 40%;}
    100%  {background-position: 0 0;}
}