<template>
  <q-layout view="hHh Lpr fFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import {useQuasar} from 'quasar'

export default ({
  name: 'AuthLayout',
  setup () {
    const $q = useQuasar()

    // Creación del componente
    $q.loading.hide()
  }
})
</script>