<template>
  <q-layout view="hHh Lpr lff" class="custom-font">
    <q-header elevated>
      <q-toolbar class="bg-blue-grey glossy wrapper">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          <div class="row">
            <div class="col-xs-12 text-center">
              <span class="text-subtitle1 text-bold">{{title.empresa}}</span> <br>
            </div>
            <div class="col-xs-6 text-left">
              <span class="text-subtitle1 text-bold">Gestión: {{title.gestion}}</span> <br>
            </div>
            <div class="col-xs-6 text-right">
              <span class="text-subtitle1 text-bold">Usuario</span> <br>
            </div>
          </div>
          
          
        </q-toolbar-title>
        <q-btn flat color="white" icon="more_vert">
          <q-menu>
            <q-list style="min-width: 180px">
              <q-item clickable v-close-popup @click="changePage('curso')">
                <q-item-section>EN CURSO</q-item-section>
                <q-badge color="teal" class="estados">
                  <div class="row items-center text-center full-width">
                    <div class="col-xs-12">
                      {{estados.curso}}
                    </div>
                  </div>
                </q-badge>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup @click="changePage('rendiciones')">
                <q-item-section>POR RENDIR</q-item-section>
                <q-badge color="purple" class="estados">
                  <div class="row items-center text-center full-width">
                    <div class="col-xs-12">
                      0
                    </div>
                  </div>
                </q-badge>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup @click="changePage('observadas')">
                <q-item-section>OBSERVADAS</q-item-section>
                <q-badge color="warning" class="estados">
                  <div class="row items-center text-center full-width">
                    <div class="col-xs-12">
                      {{estados.observadas}}
                    </div>
                  </div>
                </q-badge>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup @click="changePage('rechazadas')">
                <q-item-section>RECHAZADAS</q-item-section>
                <q-badge color="red" class="estados">
                  <div class="row items-center text-center full-width">
                    <div class="col-xs-12">
                      {{estados.rechazadas}}
                    </div>
                  </div>
                </q-badge>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup @click="changePage('rendidas')">
                <q-item-section>RENDIDAS</q-item-section>
                <q-badge color="secondary" class="estados">
                  <div class="row items-center text-center full-width">
                    <div class="col-xs-12">
                      {{estados.rendidas}}
                    </div>
                  </div>
                </q-badge>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup @click="changePage('finalizadas')">
                <q-item-section>FINALIZADAS</q-item-section>
                <q-badge color="primary" class="estados">
                  <div class="row items-center text-center full-width">
                    <div class="col-xs-12">
                      {{estados.finalizadas}}
                    </div>
                  </div>
                </q-badge>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>

      </q-toolbar>
    </q-header>
    
    <q-drawer
      v-model="show_drawer"
      :width="250"
      class="bg-blue-grey text-white"
    >
      <BarMenu />
    </q-drawer>

    <q-page-container>
      <detalle-solicitud />
      <router-view v-slot="{ Component }">
        <transition>
          <component :is="Component" />
        </transition>
      </router-view>
    </q-page-container>
  </q-layout>
</template>

<script>
import axios from 'axios'
import {inject, ref} from 'vue'
import {useQuasar} from 'quasar'
import BarMenu from '../components/BarMenu.vue'
import util from '../plugins/util'
import { useRouter } from 'vue-router'
import DetalleSolicitud from '../views/solicitud/dialogs/DetalleSolicitud.vue'

export default {
  name: 'MainLayout',
  components: {
    BarMenu,
    DetalleSolicitud
  },
  setup () {
    
    // Variables reactivas y no reactivas
    const $q = useQuasar()
    const bus = inject('bus')
    const router = useRouter()

    const show_drawer = ref(false)
    const title = ref({
      empresa: '',
      gestion: ''
    })

    const estados = ref({})


    // Métodos y funciones
    const getEstadosEmpresa = async (empresa_id, gestion_id) => {
      let res = await axios.get(`json/cantidad/estados/${empresa_id}/${gestion_id}`)
      estados.value = res.data
    }

    const changePage = (page) => {
      bus.emit('changePage', page)
    }

    // Creación del componente
    bus.all.clear()
    util.verifyRol([2,3])
    if (util.verifyBusiness()) {
      let empresa = $q.localStorage.getItem('empresa')
      let gestion = $q.localStorage.getItem('gestion')
      title.value.empresa = empresa.nombre
      title.value.gestion = gestion.gestion
      getEstadosEmpresa(empresa.id, gestion.id)
      bus.on('recargaEstados', () => {
        let empresa = $q.localStorage.getItem('empresa')
        let gestion = $q.localStorage.getItem('gestion')
        getEstadosEmpresa(empresa.id, gestion.id)
      })
    } else {
      router.push({name: 'choose-business'})
    }

    // Retorno de variables de la plantilla
    return {
      show_drawer,
      toggleLeftDrawer () {
        show_drawer.value = !show_drawer.value
      },
      title,
      estados,
      changePage
    }
  }
}
</script>

<style>
.estados {
  min-width: 40px;
}
</style>