<template>
  <q-page padding class="flex flex-center custom-font pragma-black">
    <div class="row q-gutter-y-lg" style="width: 80%">
      <div class="col-xs-12 col-md-6 q-pb-xl">
        <div class="row flex flex-center">
          <div class="col-xs-12">
            <q-img src="assets/logo_solicitudes_c.png" width="300px" />
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 flex flex-center">
        <q-card class="full-width bg-pragma-secon">
          <q-form @submit.prevent="submit()">
            <q-card-section class="text-right">
              <span class="text-h6 text-white">Ingresar al sistema</span>
            </q-card-section>
            <q-card-section>
              <q-input
                v-model="form.usuario"
                outlined
                dense
                dark
                label="Usuario"
                label-color="white"
                :rules="[val => !!val || 'Requerido']">
                <template v-slot:prepend>
                  <q-icon name="people" color="white" />
                </template>
              </q-input>
              <q-input
                v-model="form.password"
                outlined
                dense
                dark
                label="Contraseña"
                type="password"
                label-color="white"
                :rules="[val => !!val || 'Requerido']">
                <template v-slot:prepend>
                  <q-icon name="lock" color="white" />
                </template>
              </q-input>
            </q-card-section>
            <q-card-actions>
              <q-btn
                type="submit"
                no-caps
                class="full-width bg-pragma text-white"
                :loading="loading">
                <strong>
                  <q-icon name="login"></q-icon>  Iniciar sesión
                </strong>
              </q-btn>
            </q-card-actions>
          </q-form>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import {ref} from 'vue'
import {useStore} from 'vuex'
// import {useQuasar} from 'quasar'
import axios from 'axios'
import {useRouter} from 'vue-router'

export default {
  setup () {
    // Variables reactivas y no reactivas
    // const $q = useQuasar()
    const store = useStore()
    const router = useRouter()
    const form = ref({
      usuario: null,
      password: null
    })
    const loading = ref(false)
    // Métodos y funciones
    const submit = () => {
      loading.value = true
      axios.post('login', form.value)
        .then(res => {
          store.dispatch('auth/saveToken', res.data)
          store.dispatch('auth/setUser', res.data)
          router.push({ name: 'choose-business' })
          // $q.notify({
          //   message: 'Bienvenido al sistema',
          //   color: 'positive',
          //   icon: 'check',
          //   position: 'bottom'
          // })
        })
        .catch(err => {
          console.log(err)
        })
        .then(() => {
          loading.value = false
        })
    }
    return {
      form,
      submit,
      loading
    }
  }
}
</script>

<style>
.card-login {
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  overflow: hidden;
  position: relative;
}
.card-login:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}
</style>